# python cache files
__pycache__

# python virtual env
.venv

# secret files
.env

# ignore .pt files
*.pt
*.pt.DS_Store
results/
checkpoints/
.DS_Store
*.zip

# Large datasets
datasets
*.ptSTN/Pytorch-STN/data_cifar10/cifar-10-python.tar.gz
stn-training-repo/Pytorch-STN/data_cifar10/cifar-10-python.tar.gz
stn-training-repo/Pytorch-STN/experiments/stn_svhn/*.pth.tar
