# python cache files
__pycache__

# python virtual env
.venv

# secret files
.env

# dataset folder
datasets

# ignore .pt files
*.ptSTN/Pytorch-STN/data_cifar10/cifar-10-python.tar.gz

# Large datasets/checkpoints
STN/Pytorch-STN/data_cifar10/cifar-10-python.tar.gz
STN/Pytorch-STN/experiments/stn_svhn/*.pth.tar
